{% load static %}
<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{^%     static " polls/style.css" %}" title="" type="" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
   <title>{{title}}</title>
   <style>
      body {
         font-family: 'Sofia', cursive
      }
   </style>
</head>

<body>
   {%block body %}
   {% endblock %}
   <script src="https://kit.fontawesome.com/d44d033e18.js" crossorigin="anonymous"></script>
   <script src="{%static 'polls/main.js'%}"></script>
</body>

</html>